{% extends 'base.html' %}
{% load static %}
  {% block title %} {{post.title_tag}} {% endblock %}
  {% block content %}



<h1>Профиль пользователя</h1>
<br/>
<br/>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
        {% if  page_user.profile_pic %}
      <img src="{{ page_user.profile_pic.url}}" class="img-fluid rounded-start" width="200" height="200">
   {% else %}
        <img src="{% static 'theblog/images/default_pic.jpg'%}" class="img-fluid rounded-start">
        {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">
            {{page_user.first_name}}
            {{page_user.last_name}}</h5>
          <p class="small text-muted">



              <a href ="{{page_user.website_url }}">| website</a>


          </p>
            <p class="card-text">{{ page_user.bio}}</p>

      </div>
    </div>
  </div>
</div>


    {% endblock %}